*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
}

.main{
    width: 1000px;
    height: 540px;
    background-color: red;
    font-family: sans-serif;
    margin: 50px;
    
}

/* 1em = 16px */
.row1{
    width: 1000px;
    height: 100px;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    /* text-decoration: underline;
    text-decoration: line-through; */
    word-spacing: 20px;
text-transform: uppercase;
    background-color: purple;

}

.row2{
    width: 1000px;
    height: 40px;
    background-color: yellow;
    text-align: center;
    
    
}

.row2c1{
    width: 200px;
    height: 40px;
    float: left;
    padding: 10px;
    background-color: yellowgreen;
}

.row3{
    width: 1000px;
    height: 200px;
    background-color: yellow;
}

.row3left{
    width: 250px;
    height: 200px;
    float: left;
    background-color: hotpink;
}
.row3leftr{
    width: 250px;
    height: 40px;
    padding-left: 100px ;
    padding-top: 10px;
    background-color: lightgreen;
}
.row3right{
    width: 700px;
    height: 200px;
    float: left;
    background-color:plum ;
}



















